*{
	margin: 0px;
	padding-bottom: 0px;
	font-family: century Gothic;
}

body{
	background-image: url(../pex.jpeg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.about{
	background: rgba(0, 0, 0, 0.3);
	margin-top: 10%;
	margin-right: 10%;
	margin-left: 20%;
}
ul{
	float: right;
	margin-top: 25px;
	list-style-type: none;
}

ul li{
	display: inline-block;
}

ul li a{
	border: 1px soild;
	color: #000;
	padding: 9px 20px;
	border-color: #000;
	text-decoration: none;
}

ul li a:hover{
	color: #fff;
	background-color: #000;
    transition: 0.8s ease;
}

ul li.active a{
	color: #fff;
	background-color: #000;
}

.click a{
	color: #fff;
}

.nav{
	max-width: 1200px;
	margin: auto;
}

p{
padding left:5px;
	padding top:5px;
	padding bottom:5px;
	padding rigth:5px;
}
